In [2]:
import mysql.connector
import pandas as pd

# -------------------------------------------
# BLOQUE 1: CONEXI√ìN A LA BASE DE DATOS
# -------------------------------------------
try:
    conexion = mysql.connector.connect(
    host='localhost',
    port=3307,
    user='root',
    password='Chismosin2025',
    database='tasca4'
)
        
    if conexion.is_connected():
        print("\n¬°Conexi√≥n exitosa! üöÄ")
except mysql.connector.Error as e:
    print(f"\n‚ùå Error de conexi√≥n: {e}")
    # Salimos del script si no hay conexi√≥n
    exit(1)

¬°Conexi√≥n exitosa! üöÄ

In [3]:
# -------------------------------------------
# BLOQUE 2: CARGA DE TABLAS A DATAFRAMES AUTOMATIZADA
# -------------------------------------------
try:
    # Operaci√≥n 1: Obtener lista de tablas
    cursor = conexion.cursor()
    cursor.execute("SHOW TABLES")
    tablas = [tabla[0] for tabla in cursor.fetchall()]
    cursor.close()
    print(f"\nTablas detectadas: {', '.join(tablas)}\n")
    

    # Operaci√≥n 2: Cargar cada tabla en un DataFrame
    for tabla in tablas:
        nombre_df = f"{tabla}_df"
        df = pd.read_sql(f"SELECT * FROM `{tabla}`", conexion)
        globals()[nombre_df] = df
        print(f"‚úì DataFrame '{nombre_df}' generado ({len(df)} registros)")
    
except Exception as e:
    print(f"\n‚ùå Error durante operaciones SQL: {e}")

# -------------------------------------------
# BLOQUE 3: CIERRE DE CONEXI√ìN
# -------------------------------------------
if conexion.is_connected():
    conexion.close()
    print("\nConexi√≥n cerrada correctamente.")

Tablas detectadas: card_status, companies, credit_cards, products, transactions, transactions_products, users

‚úì DataFrame 'card_status_df' generado (275 registros)
‚úì DataFrame 'companies_df' generado (100 registros)
‚úì DataFrame 'credit_cards_df' generado (275 registros)
‚úì DataFrame 'products_df' generado (100 registros)
‚úì DataFrame 'transactions_df' generado (587 registros)
‚úì DataFrame 'transactions_products_df' generado (1457 registros)
‚úì DataFrame 'users_df' generado (275 registros)

Conexi√≥n cerrada correctamente.

C:\Users\ferna\AppData\Local\Temp\ipykernel_32704\3747068419.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM `{tabla}`", conexion)

In [ ]:
import mysql.connector
import pandas as pd

# -------------------------------------------
# BLOQUE 1: CONEXI√ìN A LA BASE DE DATOS
# -------------------------------------------
try:
    conexion = mysql.connector.connect(
    host='localhost',
    port=3307,
    user='root',
    password='Chismosin2025',
    database='tasca4'
)
        
    if conexion.is_connected():
        print("\n¬°Conexi√≥n exitosa! üöÄ")
except mysql.connector.Error as e:
    print(f"\n‚ùå Error de conexi√≥n: {e}")
    # Salimos del script si no hay conexi√≥n
    exit(1)


# -------------------------------------------
# BLOQUE 2: CARGA DE TABLAS A DATAFRAMES MANUAL (COMPLETAR SEGUN SE NECESITE)
# -------------------------------------------
cursor = conexion.cursor()
users_df = pd.read_sql(f"SELECT * FROM users", conexion)
companies_df = pd.read_sql(f"SELECT * FROM companies", conexion)
transactions_df = pd.read_sql(f"SELECT * FROM transactions", conexion)
cursor.close()

# -------------------------------------------
# BLOQUE 3: CIERRE DE CONEXI√ìN
# -------------------------------------------
if conexion.is_connected():
    conexion.close()
    print("\nConexi√≥n cerrada correctamente.")

In [ ]:




# -------------------------------------------
# BLOQUE 2: EJEMPLO DE OTRA OPERACI√ìN SQL(ELIMINACION DE BASE DE DATOS)
# -------------------------------------------
try:
    # -------------------------------------------
    # EJEMPLO DE OTRA OPERACI√ìN (ELIMINACION DE BASE DE DATOS):
    cursor = conexion.cursor()
    cursor.execute("DROP DATABASE IF EXISTS database_temporal")
    print("Database temporal eliminada")
    cursor.close()
    # -------------------------------------------
    
except Exception as e:
    print(f"\n‚ùå Error durante operaciones SQL: {e}")

# -------------------------------------------
# BLOQUE 3: CIERRE DE CONEXI√ìN
# -------------------------------------------
if conexion.is_connected():
    conexion.close()
    print("\nConexi√≥n cerrada correctamente.")

In [4]:
users_df

,id,name,surname,phone,email,birth_date,country,city,postal_code,address
0,1,Zeus,Gamble,1-282-581-0551,interdum.enim@protonmail.edu,1985-11-17,United States,Lowell,73544,348-7818 Sagittis St.
1,2,Garrett,Mcconnell,(718) 257-2412,integer.vitae.nibh@protonmail.org,1992-08-23,United States,Des Moines,59464,903 Sit Ave
2,3,Ciaran,Harrison,(522) 598-1365,interdum.feugiat@aol.org,1998-04-29,United States,Columbus,56518,736-2063 Tellus St.
3,4,Howard,Stafford,1-411-740-3269,ornare.egestas@icloud.edu,1989-02-18,United States,Kailua,77417,Ap #545-2244 Erat. Rd.
4,5,Hayfa,Pierce,1-554-541-2077,et.malesuada.fames@hotmail.org,1998-09-26,United States,Sandy,31564,341-2821 Ultrices Av.
...,...,...,...,...,...,...,...,...,...,...
270,271,Leandra,Cherry,089-285-7016,lobortis.quis@hotmail.ca,1991-09-02,Canada,Gander,H6S 6M9,554-9293 Sollicitudin Av.
271,272,Hedwig,Gilbert,064-204-8788,sem.eget@icloud.edu,1991-04-16,Canada,Tuktoyaktuk,Q4C 3G7,"P.O. Box 496, 5145 Sapien Road"
272,273,Hilary,Ferguson,060-710-1604,sapien.molestie.orci@google.edu,1981-11-03,Canada,Pangnirtung,12T 5G4,Ap #736-4628 Cras St.
273,274,Jameson,Hunt,024-732-2321,fringilla@protonmail.com,1982-01-29,Canada,Township of Minden Hills,B6V 6N4,224-4927 Praesent Ave
274,275,Kenyon,Hartman,082-871-7248,convallis.ante.lectus@yahoo.com,1982-08-03,Canada,Richmond,R8H 2K2,8564 Facilisi. St.

In [ ]:

import mysql.connector
import pandas as pd

# -------------------------------------------
# BLOQUE 1: CONEXI√ìN A LA BASE DE DATOS
# -------------------------------------------
try:
    conexion = mysql.connector.connect(
    host='localhost',
    port=3306,
    user='root',
    password='clave',
    database='patata'
)
        
    if conexion.is_connected():
        print("\n¬°Conexi√≥n exitosa! üöÄ")
except mysql.connector.Error as e:
    print(f"\n‚ùå Error de conexi√≥n: {e}")
    # Salimos del script si no hay conexi√≥n
    exit(1)


# -------------------------------------------
# BLOQUE 2: EJEMPLO DE OTRA OPERACI√ìN SQL(ELIMINACION DE BASE DE DATOS)
# -------------------------------------------
try:
    # -------------------------------------------
    # EJEMPLO DE OTRA OPERACI√ìN (ELIMINACION DE BASE DE DATOS):
    cursor = conexion.cursor()
    
    # Verificar primero si la base de datos existe
    cursor.execute("SHOW DATABASES LIKE 'patata'")
    resultado = cursor.fetchone()
    
    if not resultado:
        # Lanzar manualmente una excepci√≥n si no existe
        raise Exception("La base de datos 'patata' no existe")
    
    # Si existe, proceder a eliminarla
    cursor.execute("DROP DATABASE patata")
    print("Database eliminada")
    cursor.close()
    # -------------------------------------------
    
except Exception as e:
    # Capturar el error personalizado de base de datos inexistente
    if "La base de datos 'patata' no existe" in str(e):
        print(f"\n‚ùå Error: {e}")
    else:
        print(f"\n‚ùå Error durante operaciones SQL: {e}")

# -------------------------------------------
# BLOQUE 3: CIERRE DE CONEXI√ìN
# -------------------------------------------
if conexion.is_connected():
    conexion.close()
    print("\nConexi√≥n cerrada correctamente.")

¬°Conexi√≥n exitosa! üöÄ
Database temporal eliminada

Conexi√≥n cerrada correctamente.